{% extends 'base.html.twig' %}
{% block title %}Tous nos biens!{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Voir tous nos biens</h1>
        <p>Voici une liste de tous nos biens proposés par notre agence</p>
    </div>
{% endblock %}